<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Blog Jarka</title>
</head>
<body>
    <div>
        <h1><a href="">Blog Jarka</a></h1>
    </div>

    <div>
        <p>published: 30.08.2017, 21:37</p>
        <h3><a href="">My first post</a></h3>
        <p>Nauka programowania w Pythonie i Django.</p>
    </div>

    <div>
        <p>published: 30.08.17, 21:41</p>
        <h3><a href="">My second post</a></h3>
        <p>Kolejna część nauki programowania.</p>
    </div>

</body>
</html>
